* {
                    font-family: "Montserrat", sans-serif;
                    font-size: 20px;
                    font-weight: 100;
                    text-decoration: none;
                    
                  }
                  body {
                    margin: 0px;
                    padding: 0px;
                    
                  }

                  .navbar{
                    background-image: url(https://itemsstore.net/html/trito/img/hero/1.jpg);
                 display: flex;
                 justify-content: space-evenly;
                 margin: 0px 0px 0px 0px;
                 border: 1px solid #24315E;
                
                  }

                  .start_nav{
                    list-style-type: none;
                  }

                  .mid_nav{
                    margin-top: 30px;
                    display: flex;
                    list-style-type: none;
                  }

                  .mid_nav li a{
                    list-style-type: none;
                  padding: 10px;
                
                  }

                  .end_nav{
                    border: 1px solid white;
                    list-style-type: none;
                   background:#24315E;
                   padding: 10px 30px 9px;  
                  }

                  .end_nav li a{
                    color: #FFFFFF;
                    font-weight: 800;
                  }

                  .end_nav li a:hover{
                    color: #24315E;
                    font-weight: 1000;
                  }

                  .end_nav:hover{
                    border: 1px solid #24315E;
                  background-color: #FFFFFF;
                  }

                  .name{
                    margin : 100px 50px 0px 200px;
                    color: #24315E;
                    
                  }

                  .middle{
                    display: flex;
                    justify-content: space-evenly;
                    background-image: url(https://itemsstore.net/html/trito/img/hero/1.jpg);
                    
                  }

                  .picture img{
                    margin-bottom: -7px;
                    margin-right: 150px;
                    margin-top: 50px;
                  }

                  
                  .button{
                    font-size: 10px;
                    list-style-type: none;
                    margin-top: 50px;
                  display: flex;
                  justify-content: space-evenly;
                 
                  }

                  #say_hello{
                    width: fit-content;
                    background-color: #FFFFFF;
                    border: 2px solid black;
                    padding: 8px 33px;
                    font-weight: 500px;
                    color: #24315E;
                    margin-left: -30px;
                    
                    
                  }
                  #say_hello:hover{
                    border: 2px solid white;
                    background-color: #24315E;
                    color: #FFFFFF;
                    }
                    #say_hello a:hover{
                   
                      color: #FFFFFF;
                      }
  

                  #my_work{
                    text-decoration-line: underline;
                    margin: 10px 300px 0px 0px ; 
                    color: #24315E; 
                  }
                
                  .message h3{
                    font-weight: 700;
                    margin: 150px 0px 0px -10px;
                    font-style: italic;
                  }

                  .my_client{
                  
                    color: #FFFFFF;
                    
                  }
              
                  .line{
                    background-color: #24315E;
                    color: #FFFFFF;
                    
                   
                  }
               
                  #linei{
                    font-weight: 700;
                    
                  }

                  #lineii{
                   font-weight: 700; 
                  }

                  #lineiii{
                    font-weight: 700; 
                  }

                  .dedication{
                    display: flex;
                    justify-content: center;
                    padding: 40px;
                    margin-left: 150px;
                  }

                  
       #skillsdiv2{
        background-image: url(https://itemsstore.net/html/trito/img/skills/1.jpg)  ;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 50px ;

        
       }

                   
       #skillsdiv2 div{
        font-weight: 700;
        border: 2px solid black;
        width: 60px;
        padding: 10px 10px 10px 50px;
        margin: 20px;
        background-color: #FFFFFF;
        
        
       }
       #mainskills{
        display: flex;
        justify-content:  space-evenly;
        padding: 40px;
       }

       .value{
        margin: 70px 0px 50px 50px;
        display: flex;
        justify-content: space-evenly;
       }
                
       #Downloaded{
        display: flex;
    
       }

       #open_source{
        display: flex;
       }

       #Satisfaction{
        display: flex;
        justify-content: space-between;
       }

       .DIV1{
        font-size: 60px;
        text-decoration: underline;
        font-weight: 800;
        color: #243153;
       }
       
       .DIV2{
        font-size: 21px;
        color: #505A7E;
        margin: 15px 0px 0px 20px;
        padding: 0px 0px 0px 25px;
       }



       .yellow_background{
        background-image: url(https://itemsstore.net/html/trito/img/about/background.jpg);
        height: 700px;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid #24315E;
       }

       #think img{
        width: 450px;
        margin: 50px 0px 0px 90px;
       }
       
       .about_me table {
        margin: 150px 0px 0px 1px;
       }

       .about_me table tr td{
        font-weight: 400  ;
        color: #FF4612; 
        font-weight: 800 ;
        font-size: 17px;
       }

       #i_can_develop{
        font-size: 50px;
        color: #243153; 
        font-weight: 900; 
        margin-top: 0px
       }

        .hire_me {
        margin-top: 35px;
        
       }

       .hire_me a{
        font-size: 16px;
        border: 1px solid black;
        background-color: #24315E;
        color: #FFFFFF;
        padding: 18px 35px;
       }

       .hire_me a:hover{
        font-size: 16px;
        border: 1px solid white;
        background-color: #FFFFFF;
        color: #24315E;
        padding: 18px 35px;
       }
 
      .this_template{
        display: flex;
        justify-content: space-evenly;
        margin-top: 130px;
      }

      .parent_div{
        margin-top: 50px;
      }
      