* {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
}

.main {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}

.mid_nav {
  display: flex;
  list-style-type: none;
}
.mid_nav li {
  padding: 20px 20px 20px 20px;
}

.start_nav {
  list-style-type: none;
}
.start_nav li img {
  border-radius: 50px;
}

.end_nav {
  list-style-type: none;
}
.end_nav li {
  padding: 8px 20px 10px 25px;
  margin: 8px 0px 0px 0px;
  border-style: double;
  border-color: aliceblue;
  border-radius: 12px;
}

.hero {
 background-image: url(img3.jpg);
 height: fit-content;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.middle {
  background-image: url(img3.jpg);
  background-size: cover;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.info {
  color: whitesmoke;
  background-image: url(img3.jpg)  ;
  background-size: cover;
  list-style-type: none;
  display: flex;
}
#que {
  margin-left: 600px;
}

#ans {
  margin-left: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  background-color: black;
}

.footer li {
  list-style-type: none;
  margin: 30px 100px 30px 100px;
}
