* {
  /* font-family: "Montserrat", sans-serif;
  font-size: 20px; */
  font-weight: 700;
  
}

body {
  margin: 0px;
  padding: 0px;
  background-color:#503c3c ;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  background:#3E3232;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 5px 0px;
  border-radius: 50px;
}
.start_nav img{
                    border-radius: 50%;
}
.mid_nav {
  display: flex;
  list-style-type: none;

}
.mid_nav li {
  padding: 20px 20px 20px 20px;
}


.mid_section div{
                    background-color:#503c3c ;
                  margin: 40px 0px 0px 50px;
                    display: flex;
  }
.mid_section div ul{
                   margin-left: 100px;
                   list-style-type: none; 
                   color: whitesmoke;
                   
                    
}

.end_nav li img {
                    margin: 8px 30px 0px 0px;
                }

#IM{
                  font-size: 50px;
}
#GRAPHIC{
                  font-size: 100px;
}
#CONTACT{
                  font-size: 20px; 
                  font-weight: 100px;
                  background-color: orangered; 
                  width: 120px;
}

