*{
                    margin: 0px 0px 0px 0px;
                    
}

.navbar{
                    background-color: #000000;
                    display: flex;
                    font-family: 'Times New Roman', Times, serif ;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 15px 15px 15px 15px;
                    
}
.start_nav{
                    margin-left: 100px;
}
.mid_nav ul{
                    margin-top: 10px;
                    margin-left: 10px;
                    display: flex;
                    justify-content: space-evenly;
                    list-style-type: none;
                    text-decoration: none;
                   
}
.mid_nav ul li a{
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 10px;
}

.end_nav ul{
                    margin-top: 10px;
                    margin-left: 550px;
                    display: flex;
                    justify-content: space-evenly;
                    list-style-type: none;
                    text-decoration: none;
}

.end_nav ul li a{
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 10px; 
                            
}
#sign_up{
                    background-color: white;
                    color: #000000;
                    border-radius: 20px;
                    padding: 10px 12px;
}
/* <!-------------------------------------------------------------------------------------------------------------> */
.middle{
                    display: flex;
                    justify-content: space-evenly;
                    background-color: #000000;
}
.location{
                    color: #FFFFFF;
                    margin-top: 220px;
}
.location1{
                    margin-top: 40px;
}
#location{
                    color: #000000;
                    background-color: #EEEEEE               ;
                    padding: 10px;
                    border-radius: 10px;
}

#destination{
                    margin-top: 8px;
                    color: #000000;
                    background-color: #EEEEEE;
                    padding: 10px;
                    border-radius: 10px;
}
#prices{
                    margin-top: 20px;
                    background-color: #EEEEEE;
                    color: #000000;
                    font-weight: 800;
                    padding: 15px;
                    border-radius: 10px;
                    margin-right: 400px;
}

.middle2{
          color: #000000; 
          display: flex;         
          justify-content: space-evenly;
}
#Drive{
                    margin-top: 150px;
                    margin-bottom: 40px;
                    font-size: 60px; font-weight: 900; 
}
#make{
                    margin-bottom: 10px;
                    font-size: 20px;
                    
}
#get{
                    background-color: #000000;
                    color: #FFFFFF;
                    padding: 15px;
                    margin-top: 10px;
                    margin-right: 360px;
                    border-radius: 10px;
                    font-weight: 900;
                    font-size: 15px;
}
#already{
                    font-size: 20px;
                    text-decoration: underline;
                    margin-top: 20px;
                    margin-left: -350px;
}